/* =======> Global Styles */
/* Variables */
:root {
  --light-blue: #7fb5bb;
  --dark-blue: #26555a;
  --light-blue-hover: #a7b9bb;
  --dark-blue-hover: #4a5557;
  --border-radius: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
}

p {
  line-height: 1.6;
}

button {
  color: black;
  outline: none;
  border: none;
  height: 40px;
  font-weight: 600;
  cursor: pointer;
  border-radius: var(--border-radius);
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* =======> Local Styles */
/* NAV */
nav {
  position: sticky;
  z-index: 10;
  top: 0;
  height: 80px;
  background-color: var(--dark-blue);
  color: white;
  padding: 0 20px;
  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

nav .content {
  height: 100%;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

nav .nav-links {
  font-size: 1.3rem;
  display: none;
  text-transform: uppercase;
  margin: 0 auto;
}

nav .nav-links a:not(:last-of-type) {
  display: inline-block;
  margin-right: 25px;
}

nav .nav-links-mobile {
  display: none;
}

nav.opened .nav-links-mobile {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  background-color: rgba(0, 0, 0, 0.712);
  color: var(--light-blue);
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

nav .nav-links-mobile > *:hover {
  color: white;
}

nav .nav-links-mobile i {
  position: fixed;
  right: 20px;
  top: 40px;
}

nav a:hover {
  color: var(--light-blue);
}

nav .nav-icons {
  margin-left: auto;
  font-size: 1.35rem;
  display: flex;
}

nav i {
  cursor: pointer;
  margin-left: 25px;
}

nav .nav-icons i:first-of-type {
  margin-left: 0;
}

nav .open {
  margin-right: 0;
}

nav .open {
  display: inline-block;
}

nav.scrolled {
  background-color: white;
  color: black;
}

/* ORDER SECTION */
#order {
  font-style: italic;
  background: url("./images/IMG_71851.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 20% left 0;
  color: white;
  position: relative;
}

#order .content {
  padding: 0 25px;
  position: relative;
  z-index: 6;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#order h2 {
  margin-top: 15px;
  z-index: 6;
  font-size: 40px;
}

#order p:last-of-type {
  color: var(--dark-blue);
  margin: 25px 0;
}

#order button {
  display: block;
  background-color: var(--light-blue);
  width: 500px;
  min-height: 50px;
  max-width: 100%;
  margin: 0 auto;
  z-index: 10;
}

#order button:hover {
  background-color: var(--light-blue-hover);
}

/* Membership Section */
#membership {
  color: white;
  background: url("./images/20210528_095545.jpg");
  background-position: bottom 0 right 15%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#membership .content {
  position: relative;
  z-index: 6;
  padding: 35px 10px;
}

#membership p:first-of-type,
#membership h2 {
  text-align: center;
  font-weight: 600;
}

#membership .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

#membership .card:first-of-type {
  margin-right: 20px;
}

#membership h3,
#membership .membership-name {
  text-align: center;
}

#membership h3 {
  margin-bottom: 17px;
}

#membership .membership-name {
  padding-bottom: 40px;
  position: relative;
}

#membership .membership-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.582);
  height: 1px;
  width: 100%;
}

#membership .card {
  width: 350px;
  max-width: 100%;
  margin: 25px 0 0;
  background-color: rgba(255, 255, 255, 0.233);
  padding: 15px 20px 25px;
}

#membership .card p:nth-of-type(2) {
  margin-top: 20px;
}

#membership .card button {
  width: 100%;
  color: black;
  background-color: var(--light-blue);
  margin-top: 35px;
}

#membership .card:first-of-type button {
  margin-top: 60px;
}

#membership .card button:hover {
  background-color: var(--light-blue-hover);
}

/* Shop Section */
#shop {
  background: url("./images/ImageoPalletsWholesale..jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  position: relative;
}

#shop .content {
  padding: 70px 20px;
  position: relative;
  width: 650px;
  max-width: 100%;
  margin: 0 auto;
  z-index: 6;
}

#shop .elements {
  padding: 25px 15px;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

#shop .elements button {
  display: block;
  margin: 0 auto;
  width: 350px;
  max-width: 100%;
  text-transform: capitalize;
  background-color: var(--dark-blue);
  color: white;
}

#shop .elements button:hover {
  background-color: var(--dark-blue-hover);
}

#shop p:last-of-type {
  margin: 15px 0 25px;
}

/* Contact Section */
#contact {
  background-color: var(--light-blue);
  padding: 25px 20px;
  text-align: center;
}

#contact form {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

#contact p {
  margin: 15px 0 25px;
}

#contact input,
#contact textarea {
  display: block;
  width: 100%;
  padding: 0 10px;
}

#contact input {
  min-height: 35px;
  margin-bottom: 15px;
}

#contact textarea {
  height: 75px;
  overflow: auto;
  font-size: inherit;
  font-family: inherit;
  padding-top: 10px;
}

#contact button {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  margin: 15px auto 0;
  background-color: var(--dark-blue);
  color: white;
}

#contact button:hover {
  background-color: var(--dark-blue-hover);
}

/* Location Section */
#location {
  background-color: var(--dark-blue);
  padding: 25px 20px 45px;
  color: white;
}

#location .content {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}

#location .map {
  width: 100%;
  height: 300px;
}

#location h3 {
  margin: 20px 0 13px;
}

#location a {
  color: var(--light-blue);
  display: inline-block;
  margin: 25px 0 30px;
}

#location a:hover {
  color: var(--light-blue-hover);
}

/* Subscribe Section */
#subscribe {
  text-align: center;
}

#subscribe > * {
  padding: 25px 20px;
}

#subscribe .white-bg {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

#subscribe h2 {
  margin-bottom: 20px;
}

#subscribe form {
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
}

#subscribe form > * {
  height: 100%;
}

#subscribe form input {
  width: 100%;
  padding-left: 15px;
}

#subscribe form button {
  width: 130px;
  max-width: 35%;
  border-radius: 0;
  background-color: var(--dark-blue);
  color: black;
}

#subscribe form button:hover {
  background-color: var(--dark-blue-hover);
}

#subscribe .captcha-p {
  margin-top: 15px;
  font-size: 12px;
  opacity: 0.6;
}

#subscribe .blue-bg {
  background-color: var(--light-blue);
  color: black;
  padding: 25px;
}

#subscribe .blue-bg .content {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

#subscribe .flex {
  width: 90%;
  margin: 20px auto 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 25px;
       column-gap: 25px;
}

#subscribe .flex a:hover {
  color: #3d3c3c;
}

#subscribe .social-links {
  display: flex;
  justify-content: center;
}

#subscribe i {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  background-color: #cccccc;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#subscribe i:hover {
  background-color: #6d6b6b;
}

@media (max-width: 779px) {
  #membership .cards .card:first-of-type {
    margin-right: 0;
  }

  #membership .cards {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 665px) {
  nav .nav-links {
    display: flex;
  }

  nav .nav-icons {
    margin-left: 0;
  }

  nav .hamburger {
    display: none;
  }

  .nav-links-mobile {
    display: none !important;
  }
}
@media (max-width: 351px) {
  nav h1 {
    font-size: 1.2rem;
  }

  .nav-icons i {
    margin-left: 10px;
    font-size: 1rem;
  }

  .nav-links-mobile a {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=style.css.map */