/* =======> Global Styles */
/* Variables */
:root {
  --light-blue: #7fb5bb;
  --dark-blue: #26555a;
  --light-blue-hover: #a7b9bb;
  --dark-blue-hover: #4a5557;
  --border-radius: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
}

p {
  line-height: 1.6;
}

button {
  color: black;
  outline: none;
  border: none;
  height: 40px;
  font-weight: 600;
  cursor: pointer;
  border-radius: var(--border-radius);
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* NAV */
nav {
  position: sticky;
  z-index: 10;
  top: 0;
  height: 80px;
  background-color: var(--dark-blue);
  color: white;

  transition: background-color 0.4s ease-out, color 0.4s ease-out;
}

nav .content {
  height: 100%;
  width: 1200px;
  padding: 0 20px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

nav .nav-links {
  font-size: 1.3rem;
  display: none;
  text-transform: uppercase;
  margin: 0 auto;
}

nav .nav-links a:not(:last-of-type) {
  display: inline-block;
  margin-right: 25px;
}

nav .nav-links-mobile {
  display: none;
}

nav.opened .nav-links-mobile {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  background-color: rgba(0, 0, 0, 0.712);
  color: var(--light-blue);
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

nav .nav-links-mobile > *:hover {
  color: white;
}

nav .nav-links-mobile i {
  position: fixed;
  right: 20px;
  top: 40px;
}

nav a:hover,
nav i:hover {
  color: var(--light-blue);
}

nav .nav-icons {
  margin-left: auto;
  font-size: 1.35rem;
  display: flex;
  gap: 25px;
}

nav i,
.nav-icons a {
  display: inline-block;
  cursor: pointer;
}

nav .open {
  margin-right: 0;
}

nav .open {
  display: inline-block;
}

nav.scrolled {
  background-color: white;
  color: black;
}

@media (min-width: 665px) {
  nav .nav-links {
    display: flex;
  }

  nav .nav-icons {
    margin-left: 0;
  }

  nav .hamburger {
    display: none;
  }

  .nav-links-mobile {
    display: none !important;
  }
}
@media (max-width: 420px) {
  nav h1 {
    font-size: 1.2rem;
  }

  nav .nav-icons {
    gap: 17px;
  }
  .nav-icons i,
  .nav-icons a {
    font-size: 1rem;
  }

  .nav-links-mobile a {
    font-size: 1.8rem;
  }
}

/* Main */
main {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
}
main h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
main .col {
  padding: 40px;
  word-break: break-all;
}
main .col:first-child {
  flex-grow: 0.55;
  flex-shrink: 1;
  background-color: white;
  position: relative;
}
main .col:last-child {
  flex-grow: 0.45;
  flex-shrink: 1;
  background-color: #58c7ff;
  color: white;
}

main .col:first-child .content {
  z-index: 4;
  position: relative;
}

main .office {
  margin-top: 30px;
}

main .office h3 {
  margin-bottom: 10px;
}

main .map-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
}

main .map {
  width: 100%;
  height: 100%;
  position: relative;
}

main .map-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.459);
}

main .col:last-child p {
  color: rgba(255, 255, 255, 0.815);
}

main .email {
  margin-top: 15px;
  position: relative;
  font-weight: bolder;
  display: inline-flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  transition: color 200ms linear;
}

main .email > * {
  max-width: 100%;
}
main .email p {
  transition: color 200ms linear;
}
main .email::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: background-color 200ms linear;
}

main .email:hover::after {
  background-color: #26555a;
}

main .email:hover,
main .email:hover p {
  color: #26555a;
}

/* Footer */
footer .flex {
  width: 90%;
  margin: 20px auto 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 25px;
  column-gap: 25px;
}

footer .flex a:hover {
  color: #3d3c3c;
}

footer .social-links {
  display: flex;
  justify-content: center;
}

footer i {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  background-color: #cccccc;
  color: white;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

footer i:hover {
  background-color: #6d6b6b;
}

footer {
  background-color: var(--light-blue);
  color: black;
  padding: 25px;
  text-align: center;
}

footer .content {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}
@media (max-width: 806px) {
  main .col {
    flex-grow: 1 !important;
  }
}
