/* =======> Global Styles */
/* Variables */
:root {
  --light-blue: #7fb5bb;
  --dark-blue: #26555a;
  --light-blue-hover: #a7b9bb;
  --dark-blue-hover: #4a5557;
  --border-radius: 20px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.486);
  z-index: 5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
}

p {
  line-height: 1.6;
}

button {
  color: black;
  outline: none;
  border: none;
  height: 40px;
  font-weight: 600;
  cursor: pointer;
  border-radius: var(--border-radius);
}

input {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
}
/* =============> Home
/* NAV */
nav {
  position: sticky;
  z-index: 10;
  top: 0;
  min-height: 80px;
  padding: 5px 0;
  background-color: var(--dark-blue);
  color: white;

  transition: background-color 0.4s ease-out, color 0.4s ease-out,
    box-shadow 0.4s ease-out;
}

nav .logo {
  max-width: 70px;
}

nav .content {
  height: 100%;
  width: 1200px;
  padding: 0 20px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

nav ul {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

nav .nav-links {
  font-size: 1.3rem;
  display: none;
  text-transform: uppercase;
  margin: 0 auto;
}

nav .nav-links a:not(:last-of-type) {
  display: inline-block;
  margin-right: 25px;
}

nav .nav-links-mobile {
  display: none;
}

nav.opened .nav-links-mobile {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  background-color: rgba(0, 0, 0, 0.712);
  color: var(--light-blue);
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
}

nav .nav-links-mobile > *:hover {
  color: white;
}

nav .nav-links-mobile .icon {
  position: fixed;
  right: 20px;
  top: 40px;
}

nav a:hover,
nav .icon:hover {
  color: var(--light-blue);
}

nav .nav-icons {
  margin-left: auto;
  font-size: 1.35rem;
  display: flex;
  gap: 25px;
}

nav .icon,
.nav-icons a {
  display: inline-block;
  cursor: pointer;
}

nav .open {
  margin-right: 0;
}

nav .open {
  display: inline-block;
}

nav.scrolled {
  background-color: white;
  color: black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media (min-width: 665px) {
  nav .nav-links {
    display: flex;
  }

  nav .nav-icons {
    margin-left: 0;
  }

  nav .hamburger {
    display: none;
  }

  .nav-links-mobile {
    display: none !important;
  }
}
@media (max-width: 420px) {
  nav h1 {
    font-size: 1.2rem;
  }

  nav .nav-icons {
    gap: 17px;
  }
  .nav-icons .icon,
  .nav-icons a {
    font-size: 1rem;
  }

  .nav-links-mobile a {
    font-size: 1.8rem;
  }
}

/* ===================> Home /*
/* ORDER SECTION */
#order {
  font-style: italic;
  background: url("./images/cover1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 20% left 0;
  color: white;
  position: relative;
}

#order .content {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 6;
  min-height: 500px;
}

#order h2 {
  z-index: 6;
  font-size: 40px;
}

#order p:last-of-type {
  font-weight: bold;
}

#order a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: var(--light-blue);
  width: 500px;
  min-height: 50px;
  max-width: 95%;

  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, -50%);
}

#order a:hover {
  background-color: var(--light-blue-hover);
}

/* Membership Section */
#membership {
  color: white;
  background: url("./images/cover2.jpg");
  background-position: bottom 0 right 15%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#membership .content {
  position: relative;
  z-index: 6;
  padding: 35px 10px;
}

#membership h3,
#membership h2 {
  text-align: center;
  font-weight: 600;
}

#membership .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 20px;
}

#membership .card {
  display: flex;
  flex-direction: column;
}

#membership .card:first-of-type {
  margin-right: 20px;
}

#membership h3,
#membership .membership-name {
  text-align: center;
}

#membership h3 {
  margin-bottom: 17px;
}

#membership .membership-name {
  padding-bottom: 40px;
  position: relative;
}

#membership .membership-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.582);
  height: 1px;
  width: 100%;
}

#membership .card {
  width: 350px;
  max-width: 100%;
  margin: 25px 0 0;
  background-color: rgba(255, 255, 255, 0.233);
  padding: 15px 20px 25px;
}

#membership .card .space-between {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 20px;
}

#membership .card button {
  width: 100%;
  color: black;
  background-color: var(--light-blue);
  margin-top: 35px;
}
#membership .card button a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#membership .card button:hover {
  background-color: var(--light-blue-hover);
}

/* Shop Section */
#shop {
  background: url("./images/ImageoPalletsWholesale..jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  position: relative;
}

#shop .content {
  padding: 70px 20px;
  position: relative;
  width: 650px;
  max-width: 100%;
  margin: 0 auto;
  z-index: 6;
}

#shop .elements {
  padding: 25px 15px;
  background-color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}

#shop .elements a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 350px;
  min-height: 40px;
  max-width: 100%;
  text-transform: capitalize;
  background-color: var(--dark-blue);
  color: white;
  border-radius: 15px;
}

#shop .elements a:hover {
  background-color: var(--dark-blue-hover);
}

#shop p:last-of-type {
  margin: 15px 0 25px;
}

/* Contact Section */
#contact {
  background-color: var(--light-blue);
  padding: 25px 20px;
  text-align: center;
}

#contact form {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

#contact p {
  margin: 15px 0 25px;
}

#contact input,
#contact textarea {
  display: block;
  width: 100%;
  padding: 0 10px;
}

#contact input {
  min-height: 35px;
  margin-bottom: 15px;
}

#contact textarea {
  height: 75px;
  overflow: auto;
  font-size: inherit;
  font-family: inherit;
  padding-top: 10px;
}

#contact button {
  padding: 15px 25px;
  display: flex;
  align-items: center;
  margin: 15px auto 0;
  background-color: var(--dark-blue);
  color: white;
}

#contact button:hover {
  background-color: var(--dark-blue-hover);
}

/* Location Section */
#location {
  background-color: var(--dark-blue);
  padding: 25px 0 45px;
  color: white;
}

#location .content {
  max-width: 1200px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 auto;
}

#location .map {
  flex: 0 1 700px;
  height: 300px;
}
@media (max-width: 945px) {
  #location .map {
    flex: 1 1 700px;
  }
}
#location h3 {
  margin: 20px 0 13px;
}

#location a {
  color: var(--light-blue);
  display: inline-block;
  margin: 25px 0 30px;
}

#location a:hover {
  color: var(--light-blue-hover);
}

/* Subscribe Section */
#subscribe {
  text-align: center;
}

#subscribe > * {
  padding: 25px 20px;
}

#subscribe .white-bg {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

#subscribe h2 {
  margin-bottom: 20px;
}

#subscribe form {
  height: 40px;
  display: flex;
  justify-content: space-between;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
}

#subscribe form > * {
  height: 100%;
}

#subscribe form input {
  width: 100%;
  padding-left: 15px;
}

#subscribe form button {
  width: 130px;
  max-width: 35%;
  border-radius: 0;
  background-color: var(--dark-blue);
  color: black;
}

#subscribe form button:hover {
  background-color: var(--dark-blue-hover);
}

#subscribe .captcha-p {
  margin-top: 15px;
  font-size: 12px;
  opacity: 0.6;
}

#subscribe .blue-bg {
  background-color: var(--light-blue);
  color: black;
  padding: 25px;
}

#subscribe .blue-bg .content {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

#subscribe .flex {
  width: 90%;
  margin: 20px auto 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 25px;
  column-gap: 25px;
}

#subscribe .flex a:hover {
  color: #3d3c3c;
}

#subscribe .social-links {
  display: flex;
  justify-content: center;
}

#subscribe .icon {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  background-color: #cccccc;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#subscribe .icon:hover {
  background-color: #6d6b6b;
}

@media (max-width: 779px) {
  #membership .cards .card:first-of-type {
    margin-right: 0;
  }

  #membership .cards {
    flex-direction: column;
    align-items: center;
  }
}

/* =========> ABOUT */
/* Main */
main.about {
  min-height: calc(100vh - 80px);
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
}

main.about h1 {
  text-align: center;
  margin: 30px 0 40px;
}
main.about .col {
  flex: 0 0 150px;
}

main.about .img-container {
  display: flex;
  justify-content: center;
}

main.about .flex {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

main.about .flex p {
  max-width: 600px;
}
/* =============> Contact
/* Main */
main.contact {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem;
}
main.contact h1 {
  font-size: 50px;
  margin-bottom: 30px;
}
main.contact .col {
  padding: 40px;
  word-break: break-all;
}
main.contact .col:first-child {
  flex-grow: 0.55;
  flex-shrink: 1;
  background-color: white;
  position: relative;
}
main.contact .col:last-child {
  flex-grow: 0.45;
  flex-shrink: 1;
  background-color: #58c7ff;
  color: white;
}

main.contact .col:first-child .content {
  z-index: 4;
  position: relative;
}

main.contact .office {
  margin-top: 30px;
}

main.contact .office h3 {
  margin-bottom: 10px;
}

main.contact .map-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60%;
}

main.contact .map {
  width: 100%;
  height: 100%;
  position: relative;
}

main.contact .map-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.459);
}

main.contact .col:last-child p {
  color: rgba(255, 255, 255, 0.815);
}

main.contact .email {
  margin-top: 15px;
  position: relative;
  font-weight: bolder;
  display: inline-flex;
  max-width: 100%;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  transition: color 200ms linear;
}

main.contact .email > * {
  max-width: 100%;
}
main.contact .email p {
  transition: color 200ms linear;
}
main.contact .email::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: background-color 200ms linear;
}

main.contact .email:hover::after {
  background-color: #26555a;
}

main.contact .email:hover,
main.contact .email:hover p {
  color: #26555a;
}
@media (max-width: 806px) {
  main.contact .col {
    flex-grow: 1 !important;
  }
}

/* ===============> Pay Page */
main.pay {
  max-width: 1200px;
  margin: 0 auto;
  padding: 35px 20px;
}
main.pay h1 {
  text-align: center;
  margin-bottom: 40px;
}
main.pay .products-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}
main.pay .product {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  flex: 1 1 350px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: -2px 10px 5px rgba(0, 0, 0, 0);
  border-radius: 10px;
  font-family: SQ Market, SQ Market, Helvetica, Arial, sans-serif;
}

main.pay .product-img {
  margin-bottom: 20px;
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

main.pay .product-name {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 25px;
}

main.pay .product-price {
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}

main.pay .product-desc {
  margin: 15px 0;
  font-size: 0.8rem;
  color: rgb(65, 65, 65);
}

main.pay .buy-btn {
  display: inline-block;
  font-size: 18px;
  line-height: 48px;
  height: 48px;
  color: #ffffff;
  width: 100%;
  background-color: #006aff;
  text-align: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
}

/* Footer */
footer .flex {
  width: 90%;
  margin: 20px auto 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 25px;
  column-gap: 25px;
}

footer .flex a:hover {
  color: #3d3c3c;
}

footer .social-links {
  display: flex;
  justify-content: center;
}

footer .icon {
  margin: 0 10px;
  width: 30px;
  height: 30px;
  background-color: #cccccc;
  color: white;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

footer i:hover {
  background-color: #6d6b6b;
}

footer {
  background-color: var(--light-blue);
  color: black;
  padding: 25px;
  text-align: center;
}

footer .content {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}
